body{
  background-color: rgb(16, 16, 16);
  font-family: 'roboto';
  color: white;
}
@font-face {
  font-family: roboto;
  src: url('./fonts/roboto/Roboto-Light.ttf');
}

/** Youtube header*/
header{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  height: 35px;
  padding: 10px 0px 10px 0px;
}
.youtube-header{
  grid-column: 1/2;
  margin-left: 20px;
  width: 150px;
}
/* Search Box */
#searchBoxForm {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  width: 100%;
}
#searchBox{
  background-color: rgb(18, 18, 18);
  border: 1px solid rgb(48,48,48);
  border-radius: 25px 0px 0px 25px;
  width: 30%;
  height: 35px;
  cursor: text;
}
#searchButton{
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(48,48,48);
  border-radius: 0px 25px 25px 0px;
  width: 10%;
  color: white;
  font-size: 1.5em;
  font-family: roboto;
  cursor: pointer;
}

/** Home file */
.homeVideos{
  border: 2px solid red;
}