body{
  background-color: rgb(16, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/** Youtube header*/
header{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  height: 35px;
  padding: 10px 0px 10px 0px;
}
.youtube-header{
  grid-column: 1/2;
  margin-left: 20px;
  width: 150px;
}
/* Search Box */
#searchBoxForm {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  width: 100%;
}
#searchBox{
  background-color: rgb(18, 18, 18);
  border: 1px solid rgb(48,48,48);
  border-radius: 25px 0px 0px 25px;
  width: 50%;
  height: 35px;
  cursor: text;
  color: white;
  padding-left: 10px;
  font-size: 1.2em;
}
#searchButton{
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(48,48,48);
  border-radius: 0px 25px 25px 0px;
  width: 10%;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}
#searchButton:hover{
  background-color: rgb(40, 40, 40);
}

/** Home file */
#mainContent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 150px 10px 150px;
}

/** Video box*/
.videoBox{
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin-bottom: 30px;
}
.videoImg:hover{
  cursor: pointer;
}
.videoImg{
  grid-row: 1/2;
  justify-self: center;
  width: 360px;
  height: 202px;
  border-radius: 15px;
}
.videoTitle{
  grid-row: 2/3;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bolder;
}
.videoTitle:hover{
  cursor: pointer;
}

/** Video player*/
.playVideo{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/** About */
#about{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 50px;
}
#ynk{
  width: 100%;
}
#aboutBox{
  padding: 30px 60px 30px 60px;
  width: 80%;
  border: 2px solid red;
}
#aboutBox h1{
  margin-bottom: 60px;
  font-size: 3em;
}
#aboutBox p{
  margin-bottom: 30px;
  font-size: 1.5em;
}